@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0%;
  padding: 0%;
}

/*Display Resolution 1366*768 Soumyadip */
/*Display Resolution 1366*768 */
/*Display Resolution 1366*768 */

.con1 {
  height: 500px;
  border-radius: 25px;

  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.897),
      rgba(255, 255, 255, 0)
    ),
    url(..//imgs/b1.png);
  margin-top: 50px;
  margin-left: 144px;
  margin-right: 144px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.con1 h3 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 120px;
}

.con1 h1 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;

  width: 600px;
  padding-left: 200px;
}

.con2 .d1 .text2 h1 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.con2 .d1 .text2 .t2 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 48px;
}

.con2 .d1 .text2 .t3 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 20px;
}

.con2 .d1 .img2 img {
  padding-left: 290px;
  margin-top: 40px;
}

.con3 {
  border-radius: 20px;

  margin-top: 50px;
  margin-left: 144px;
  margin-right: 144px;
  background-size: 100%;
  background-repeat: no-repeat;

  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.897),
      rgba(245, 246, 247, 0)
    ),
    url(../imgs/Vectorrr.png);
}

.con3 .c3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.con3 .c3 .text {
  align-items: center;
  padding-left: 20px;
}

.con3 .c3 .text h1 {
  width: 640px;
  color: white;
  font-size: 64px;
  font-family: Merriweather;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  padding-left: 100px;
}

.con3 .c3 .text p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-family: Inter;
  font-weight: 695px;
  line-height: 30px;

  padding-left: 100px;
  width: 80%;
}

.con3 .c3 .text button {
  color: white;
  font-size: 20px;
  font-family: Inter;
  font-weight: 700;
  text-transform: uppercase;
  background-color: rgba(73, 55, 27, 0);
  text-decoration: none;
  border: none;
  padding-left: 130px;
  margin-top: 20px;
}

.con3 .img img {
  width: 150%;
  margin-top: 60px;
  margin-bottom: 60px;
  height: 300px;
}

.con4 {
  height: 480px;
  border-radius: 25px;

  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  margin-top: 50px;
  margin-left: 144px;
  margin-right: 144px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.con4 .c4 {
  text-align: center;
}

.con4 .c4 h1 {
  text-align: center;

  font-size: 32px;
  font-family: Inter;

  text-transform: capitalize;
  line-height: 56px;
  margin-top: 50px;
  padding-top: 80px;
}

.con4 .c4 button {
  margin-top: 64px;
  background-color: #f00;
  color: white;
  font-size: 20px;
  font-family: Inter;
  font-weight: 700;
  text-transform: uppercase;

  border-color: #ff0000;
  border-radius: 10px;
  padding: 5px 15px;
}

.con5 {
  display: flex;

  padding: 60px 144px;
  align-items: center;
}

.con5 .img {
  padding-right: inherit;
}

.im1 {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.cr {
  border: 10px solid #ff0000;
  border-radius: 50%;
  padding: 20px;
  margin-right: 50px;
}

.con5 .txt1 .h1 {
  color: #ff0000;
  font-size: 24px;
  font-family: Inter;
  font-weight: 500px;
}

.con5 .txt1 h1 {
  color: #070211;
  font-size: 48px;
  font-family: Merriweather;
  font-weight: 900;
  text-transform: capitalize;

  padding-top: 20px;
}

.con5 .txt1 p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  line-height: 32px;

  width: 393px;
  padding-top: 20px;
}

.con5 .txt2 {
  margin-right: 200px;
}

.con5 .txt2 h1 {
  color: #ff0000;
  font-size: 48px;
  font-family: Inter;
  font-weight: 700;
}

.con5 .txt2 p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  line-height: 32px;

  width: 300px;
  padding-top: 20px;
}

.con6 {
  align-content: center;
}

.con6 .txt1 {
  text-align: center;
  margin-top: 120px;
  color: #070211;
  font-size: 24px;
  font-family: Inter;
  font-weight: 500;
}

.con6 h1 {
  text-align: center;

  font-size: 72px;
  font-family: Merriweather;
}

.con6 p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
  margin-left: 144px;
  margin-right: 144px;
  padding-top: 30px;
}

.acd {
  background: #ff0000;
  width: 78.77%;
  height: 230px;
  border-radius: 10px 0px 10px 10px;
  margin-right: 144px;
  margin-left: 144px;
}

.con6img {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 65px;
  margin-right: 144px;
  margin-left: 144px;
}

.con6img .con6img2 {
  background: url("../imgs/r1.png");
  background-repeat: no-repeat;
  background-position: center;
  float: right;
}

.con6img1 img {
  position: absolute;
  left: -59px;
  bottom: -261px;
  box-shadow: 1px 1px 1px solid black;
}

.con6img2 {
  position: relative;
  width: 430px;
  height: 433px;
}

.con6img2 img {
  position: absolute;
  left: -36%;
  top: 15%;
}

.con7 {
  margin-top: 50px;
  margin-left: 144px;
  margin-right: 144px;
}

.con7 .txt1 {
  color: #ff0000;
  font-size: 24px;
  font-family: Inter;
  font-weight: 500;
  margin-top: 200px;
}

.con7 .txt2 {
  color: #070211;
  font-size: 48px;
  font-family: Merriweather;
  font-weight: 900;
  text-transform: capitalize;
  margin-top: 25px;
}

.con7 p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  line-height: 32px;
  margin-top: 30px;
}

.con7 .imgline1 {
  display: flex;
  height: 370px;
  margin-top: 50px;
}

.con7 .imgline2 {
  display: flex;
  height: 378px;
  margin-top: 50px;
}

.con7 .imgline1 img {
  border-radius: 25px;
  padding: 15px;
}

.con7 .imgline2 img {
  border-radius: 25px;
  padding: 15px;
}

.con8 {
  padding: 120px 140px;
}

.con8box {
  border-radius: 15px;
  background: rgba(223, 0, 0, 0.05);
  padding: 85px 0px;
  text-align: center;
}

.con8 .con8box .con8txt .title {
  padding-top: 30px;
  color: #070211;
  font-size: 48px;
  font-family: Merriweather;
  font-weight: 900;
  text-transform: capitalize;
}

.con8 .con8box .con8txt .caption {
  padding-top: 30px;

  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  line-height: 32px;
}

.em {
  margin-top: 50px;
}

.em input {
  text-align: left;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  width: 400px;
  border-radius: 50px 0px 0px 50px;
  margin: 0;
  padding: 15px 15px;
  outline: none;
  border: none;
  color: rgba(0, 0, 0, 0.733);
}

.em > button {
  outline: none;
  background: #ff0000;
  color: white;
  border-radius: 0px 50px 50px 0px;
  cursor: pointer;
  margin-left: -5px;
  font-size: 18px;
  padding: 15px 40px;
  border: none;
}

footer {
  background-color: #070211;
  padding: 120px 140px;
  height: 350px;
}

.side1 h3 {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}

.side2 {
  margin-right: 150px;
}

.side2 p {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}

.side2 p img {
  margin-right: 10px;
}

.con9dettl {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contac {
  padding: 100px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.con9 {
}

.down {
  margin-right: 0;
}

.down a {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
}
